div,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 280px;
    height: 180px;
}

p {
    width: 280px;
    height: 180px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 190px;
    transition: all 1s;
    color: #fff;
    text-align: center;
    line-height: 180px;
    font-size: 30px;
}

li {
    width: 280px;
    height: 180px;
    border: 6px solid #ccc;
    float: left;  
    position: relative;
    overflow: hidden;
}

div:hover p {
    top: 10px;
}